.demo{ background: #262526; }
.our-team{
    padding: 20px 15px 30px;
    background: #fff;
    border-radius: 15px;
	max-width: 300px;
    max-height: 500px;
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 100%;
    /* height: 100%; */
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #ff6433;
    border-radius: 50%;
}
.pic img{
    max-width: 100%;
    /* height: auto; */
    max-height: 200px;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #ff6433;
    border: 1px solid #ff6433;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #ff6433;
    color: #fff;
}
.profile-font {
    font-size: 20px;
}

.about-font {
    font-size: 20px;
}

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
