@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: poppins-semibold;
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: semibold;
}

.bold{
  font-family: poppins-bold;
}

.semibold{
  font-family: poppins-semibold;
}
/* Hamza_Checkout ///////////////*/
.close-button{
  position: absolute;
  max-width: 40px;
  top: 0;
  right: 0;
  padding-top: 8px;
  cursor: pointer;

}


/* Hamza_Checkout ///////////////*/


/* Sameer_Checkout ///////////////*/

th {
  color: #ff6433;
}

.checkout-card {
  border: 2px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: 800;
  font-size: 14pt;
  line-height: 130%;
  font-family: Poppins;
}

.checkout-radio {
  border-color: #ff6433;
}
.checkout-radio:checked {
  background-color: #ff6433;
  border-color: #ff6433;
}
.checkout-fields {
  border: 2px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
}

.checkout-confirm-btn {
  background: #ff6433;
  /* Orange1 */
  color: #fff;
  width: 40%;
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 999px;
  font-size: 18px;
  line-height: 36px;
  outline: none;
}

.checkout-confirm-btn:hover {
  background: #fff;
  /* Orange1 */
  color: #ff6433;
}
.checkout-item-card {
  max-width: 75%;
  font-style: normal;
  font-weight: 800;
  font-size: 14pt;
  line-height: 130%;
  font-family: Poppins;
  border: 2px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Sameer_Checkout ///////////////*
/*HAMZAA////////////////////////////////////////*/
.edit-form-btn {
  margin-top: 5%;
  width: 70%;

  background: #32CD32;
  /* Orange1 */
  color: #fff;

  border: 1px solid #32CD32;
  box-sizing: border-box;
  border-radius: 999px;
}

.edit-cancel-btn {
  margin-top: 5%;
  width: 70%;
   background: #FF0000;
  color: #fff;

  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 999px;
}

.edit-form-btn:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.edit-form-btn:hover {
  background: #fff;
  color: #32CD32;
}

.edit-cancel-btn:hover {
  background: #fff;
  color: #FF0000;
}

.upload-logo {
  max-height: 200px;
  max-width: 200px;
   border-radius: 20px;

}
.file-input2 label {
 
  width: 160px;
  height: 35px;
  border-radius: 25px;
  padding-top: 5px;
  background: linear-gradient(40deg, #ff6433, #ff6433);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

/*HAMZAA////////////////////////////////////////*/
/* FARAZ/////////////////////////////////////////*/
.dish-count {
  margin-top: 30px;
}

.counter-button-left {
  background: #ff6433;
  /* Orange1 */
  color: #fff;
width: 30px;
height: 25px;
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.counter-button-right {
  background: #ff6433;
  /* Orange1 */
  color: #fff;
  border: 1px solid #ff6433;
  box-sizing: border-box;
  width: 30px;
  height: 25px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.number-box {
  background: #fff;
  color: #ff6433;
  height: 25px;
  width: 30px;
  /*Orange1 */
  border: 1px solid #ff6433;
  box-sizing: border-box;
}

.height-80 {
  height: 80px;
}
.add-to-cart-btn {
  width: auto;
  height:auto;
  padding: auto;
  font-size: 1rem;
  background: #ff6433;
  /* Orange1 */
  color: #fff;

  margin-top: 30px;
  margin-left: 10px;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 6px;
}

.dish-count {
  margin-top: 30px;
}

.number-box {
  background: #fff;
  color: #ff6433;
  /* Orange1 */
  border: 1px solid #ff6433;
  box-sizing: border-box;
}

.height-80 {
  height: 80px;
}

.dish-image-small {
  /* position: absolute; */

  width: 110px;
  height: 110px;

  text-align: center;

  border-radius: 50%;

  border: 4px solid #ff6433;
  box-sizing: border-box;
}

.r-circle {
  border-radius: 50% !important;
  text-align: center;
}

.image-container {
  text-align: center;
  padding-top: 5pt;
}

.image-container3 {
  text-align: center;
  padding-top: 5pt;
  height: 100px;
  width: 100px;
}

html * {
  font-family: poppins;
  font-style: normal;
}
html,
body {
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #ff6433;
}
a:hover {
  color: black;
}

.navbar {
  background-color: #ff6433;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-card {
  background: #ffffff;
  /* Orange1 */
  padding: 0.5em;
  border: 2px solid #ff6433;
  border-radius: 10px;
}

.AddDish-card {
  background: #ffffff;
  /* Orange1 */
  padding: 0.5em;
  border: 2px solid #ff6433;
  border-radius: 10px;
}

.login-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25pt;
  line-height: 32px;
  color: #ff6433;
}

.navbar-brand {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 20px;
}
.nav-link {
  color: #fff !important;
  font-weight: bold;
}
.nav-link-active {
  padding-bottom: 0.5em;
  border-bottom: 4px solid #ffffff;
}

.menu {
  color: #fff !important;
  font-weight: bold;
  padding-right: 15px;
}

.menu-active {
  padding-bottom: 0.5em;
  border-bottom: 4px solid #ffffff;
}

.cart-icon {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  width: 48px !important;
}

.icon {
  width: 20px !important;
  height: 20px !important;
}

.instant-khaaba-link {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.login-form-btn {
  margin-top: 5%;
  width: 95%;
  background: #ff6433;
  /* Orange1 */
  color: #fff;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 999px;
}

.login-form-btn:hover {
  background: #fff;
  color: #ff6433;
}

.edit-dish-btn {
  width: 50%;
  background: #ff6433;
  /* Orange1 */
  color: #fff;

  margin-top: 30px;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 999px;
}

.edit-dish-btn:hover {
  background: #fff;
  color: #ff6433;
}

.login-btn {
  background: #ffffff;
  /* Orange1 */
  color: #ff6433 !important;
  border: 1px solid #ff6433 !important;
  box-sizing: border-box;
  border-radius: 999px;
  width: auto;
  color: #ff6433;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

.signup-btn {
  background: #ff6433;
  /* Orange1 */
  color: #fff !important;
  border: 1px solid #fff !important;
  box-sizing: border-box;
  border-radius: 999px;
  width: auto;
  color: #fff;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}
/* .nav-item {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: inherit;
} */
/* The switch - the box around the slider */
.input-group-text {
  border: 1px solid #ff6433;
  border-radius: 10px;
  color: #ff6433;
  background-color: #fff;
}

.chef-switch {
  border: 2px solid #ff6433;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-field-headings {
  font-weight: bold;
  padding-left: 5px;
  font-size: 10pt;
  line-height: 32px;
}

.AddDish-field-headings {
  font-weight: bold;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 10pt;
  line-height: 0px;
}

.AddDish-field-subheadings {
  /* font-weight: bold; */
  padding-left: 13px;
  font-size: 8pt;
  line-height: 0px;
  color: #8e8e8e;
}

.login-fields {
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
}
.time {
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  padding-left: 10px;
  padding-right: 15px;
}

.menu-top-container {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 290px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/backgrounds/lily-banse--YHSwy6uqvk-unsplash.jpg");
}

.address {
  /* address*/

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 15px;
  /* or 225% */

  /* display: flex; */
  align-items: end;
  text-align: end;

  color: #ffffff;
}

.shopname {
  /* Aloo Shop */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 37px;
  /* or 42% */

  color: #ffffff;
}

.overlay-dark {
  background-color: rgba(black, 0.4);
}

.my-row {
  height: 290px;
  margin-top: 25px;
}

.dish-card-row {
  margin-top: 15px;
}

.tags-row {
  /* height: 58px; */
  text-align: center;
  /* margin:0 auto; */
  vertical-align: middle;
  float: none;
  /* 
    overflow-x: scroll;
    overflow-y:hidden */
}
/* .menu-mid-container{

} */

/* .kitchinfo {
  position:absolute;
  bottom:0;
  right:0;
} */

.AddDish-container {
  background-image: url("../img/backgrounds/kate-hliznitsova-ZIGxIQ4gzBU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

input:checked + .slider {
  background-color: #ff6433;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

div label input {
  margin-right: 100px;
}
body {
  font-family: sans-serif;
}
.image-container2 {
  text-align: center;
}
.camera-container {
  text-align: center;
  padding-left: 5px;
}

.image {
  /* position: absolute; */
  width: 120px;
  height: 120px;

  text-align: center;

  border-radius: 50%;

  border: 4px solid #ff6433;
  box-sizing: border-box;
}
.dish-image2 {
  /* position: absolute; */
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 200px;
  height: 200px;

  text-align: center;

  border-radius: 50%;

  border: 4px solid #ff6433;
  box-sizing: border-box;
}

.camera {
  width: 40px;
  height: 40px;
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
input[type="checkbox"] + label {
  margin-left: 8px;
  font-size: 10pt;

  width: 22%;
  background: #fff;
  /* Orange1 */
  color: #ff6433;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 500px;
}
input[type="checkbox"]:checked + label {
  font-size: 10pt;

  width: 22%;

  background: #ff6433;
  /* Orange1 */
  color: #fff;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 500px;
}

.menu-categories-btn {
  margin-top: 1%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  /* or 83% */

  color: #000000;
}

.menu-categories-btn:hover {
  /* Orange1 */
  color: #ff6433;
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
}

.dish-card {
  width: 280px;
  height: 380px;

  background: #ffffff;
  /* Orange1 */

  border: 2px solid #ff6433;
  box-sizing: border-box;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.price {
  width: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

.dishname {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  color: #000000;
}

/* FARAAZ/////////////////////////////////////////*/

/* ////////HAMZA //////////////////*/

.bg-white {
  background-color: white;
}

.bg-orange {
  background-color: #ff6433;
}

.color-white {
  color: white;
}

.color-orange {
  color: #ff6433;
}
.cusine-card {
  width: 10rem;
  border-radius: 16px;
}
.kitchen-card {
  width: 18rem;
  border-radius: 16px;
}

.rounded-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.star1 {
  font-size: 25px;
  letter-spacing: 4px;
  bottom: 0;
}
.rating-font {
  font-size: 20px;
  color: #8e8e8e;
}

.card {
  border: 2px solid #ff6433;
}
.carousel-control-next-icon {
  src: url ("./img/icons/cart.png");
}
/* @font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
} */

/* @font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: semibold;
} */
.orange-btn {
  /* Orange1 */

  background: #ff6433;
  /* Orange1 */

  border: 1px solid #ff6433;
  box-sizing: border-box;

  border-radius: 20px;
}
.review-card {
 
  width: 20pc;
  height: 305px;
  margin: auto;

  background: #ffffff;
  border-radius: 30px;
  background: #ffffff;
  border-radius: 30px;
}
.img-fill {
  object-fit: fill;
  background-image: url("appetizer.jpg");
  background-size: cover;

  background-position: 0% 0%;
}

.cuisine {
  left: 0%;
  right: 0%;
  top: 13.26%;
  bottom: 11.6%;

  background: #ffffff;
  /* Orange1 */

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 16px;
}
.checked {
  color: #ff6433;
}
.review-heading {
  font-family: Poppins-semibold;

 
  font-size: 48px;
  line-height: 36px;
  /* or 75% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;

  color: #000000;
}

.carousel-multi-item .controls-top {
  margin-bottom: 1.88rem;
  text-align: center;
}

.carousel-item {
  height: 350px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: -30px;
}
.searchbar-center {
  position: relative;
  top: 200px;
}

.fitted {
 margin-left:1rem;
 margin-right:1rem;
 padding-bottom: 10%;
 padding-top: 8% ;

}
.strip {
  position: relative;
  background-image: url(../img/backgrounds/strip.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.khaabatry-card {
  position: relative;
  top: -150px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rounded-edges {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* Orange1 */

  border: 3px solid #ff6433;
  box-sizing: border-box;
  border-radius: 16px;
}
.findfood-btn {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background: #ff6433;
  border-radius: 135px;
}
.search-heading {
  font-family: Poppins-semibold;
  font-style: normal;

  font-size: 6em;
  line-height: 90px;
  /* or 108% */

  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;
}

.search-subheading {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 32px;
  /* or 178% */

  font-feature-settings: "liga" off;

  /* Text / Gray 900 */

  color: #18191f;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.find-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;

  /* White */

  color: #ffffff;
}
.home-container {
  background-image: url("../img/backgrounds/Group_231.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-height:max-content;
}
