@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

html * {
  font-family: poppins;
  font-style: normal;
}
html,
body {
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #ff6433;
}
a:hover {
  color: black;
}

.navbar {
  background-color: #ff6433;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.panel-table {
  background: #ffffff;
  /* Orange1 */
  padding: 0.5em;
  border: 2px solid #ff6433;
  border-radius: 10px;
}

.login-card {
  background: #ffffff;
  /* Orange1 */
  padding: 0.5em;
  border: 2px solid #ff6433;
  border-radius: 10px;
}

.chef-analytics-card {
  background: #ffffff;
  /* Orange1 */
  padding: 0.5em;
  border: 2px solid #ff6433;
  border-radius: 10px;
  margin-top: 25pt;
  text-align: center;
}

.login-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25pt;
  line-height: 32px;
  color: #ff6433;
}

.navbar-brand {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 20px;
}
.nav-link {
  color: #fff !important;
  font-weight: bold;
}
.nav-link-active {
  padding-bottom: 0.5em;
  border-bottom: 4px solid #ffffff;
}

.cart-icon {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  width: 48px !important;
}

.icon {
  width: 20px !important;
  height: 20px !important;
}

.instant-khaaba-link {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.login-form-btn {
  margin-top: 5%;
  width: 95%;
  background: #ff6433;
  /* Orange1 */
  color: #fff;

  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 999px;
}

.login-form-btn:hover {
  background: #fff;
  color: #ff6433;
}

.login-btn {
  background: #ffffff;
  /* Orange1 */
  color: #ff6433 !important;
  border: 1px solid #ff6433 !important;
  box-sizing: border-box;
  border-radius: 999px;
  width: auto;
  color: #ff6433;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

.signup-btn {
  background: #ff6433;
  /* Orange1 */
  color: #fff !important;
  border: 1px solid #fff !important;
  box-sizing: border-box;
  border-radius: 999px;
  width: auto;
  color: #fff;
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}
/* .nav-item {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  } */

/* .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: inherit;
  } */
/* The switch - the box around the slider */
.input-group-text {
  border: 1px solid #ff6433;
  border-radius: 10px;
  color: #ff6433;
  background-color: #fff;
}

.chef-switch {
  border: 2px solid #ff6433;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.login-field-headings {
  font-weight: bold;
  padding-left: 5px;
  font-size: 10pt;
  line-height: 32px;
}

.login-fields {
  border: 1px solid #ff6433;
  box-sizing: border-box;
  border-radius: 10px;
}

.login-container {
  background-image: url("../img/backgrounds/kate-hliznitsova-ZIGxIQ4gzBU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

input:checked + .slider {
  background-color: #ff6433;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/**/

.buttonar {
  border: none;
  color: white;
  width: 90px;
  cursor: pointer;
  border-radius: 101px;
}

.buttona {
  background-color: #27ae60;
}

.buttonr {
  background-color: #eb5757;
}

.buttond {
  background-color: #ff6433;
}

.buttontop {
  border: none;
  width: 11vmax;
  height: 4vmax;
  cursor: pointer;
  border-radius: 5px;
  /* margin-top: 30px;
    margin-bottom: 20px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.buttonnow {
  background-color: #ff6433;
  color: white;
}

.buttonswitch {
  background-color: white;
  border: 2px solid #ff6433;
}

.buttoninside {
  border: none;
  color: white;
  background-color: #ff6433;
  width: 90px;
  cursor: pointer;
  border-radius: 101px;
}

.info-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15pt;
  line-height: 20px;
  color: #000000;
}

.info-text {
  font-family: Poppins;
  font-style: oblique;
  font-weight: lighter;
  font-size: 10pt;
  line-height: 15px;
  color: #8e8e8e;
}

.buttonadet {
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 101px;
  margin: 7pt;
}

.analytics-icons {
  width: 70%;
}

.info-heading-big {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25pt;
  line-height: 32px;
  color: #000000;
  /* transform: translate(-40%, 70%); */
}

.info-heading-medium {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20pt;
  line-height: 26px;
  color: #000000;
  /* transform: translate(-40%, 70%); */
}

/* body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: #333;
  } */

.chart {
  width: 600px;
  height: 300px;
  display: block;
}

.numbers {
  color: #000;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
}

.numbers li {
  list-style: none;
  height: 150px;
  position: relative;
  bottom: 145px;
}

.numbers span {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.bars {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  background: #f7f1f1;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 10px 0 #fff;
  border-radius: 5px;
}

.bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  position: relative;
}

.bars span {
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
}

.bars .bar {
  display: block;
  background: #ff6433;
  width: 50px;
  position: absolute;
  bottom: 0;
  margin-left: 25px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(235, 167, 128, 0.63);
  transition: 0.5s;
  transition-property: background, box-shadow;
}

.bars .bar:hover {
  background: #da3e0d;
  box-shadow: 0 0 10px 0 #ff6433;
  cursor: pointer;
}

.bars .bar:before {
  color: #ff6433;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 20px;
}

.tble-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  color: #000000;
}

.tble-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  color: #000000;
}

.button-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
}
